<!DOCTYPE html>
<html lang="en">
<head class="home">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="img-header">
    <app-comeco></app-comeco>
</header>
<body>   
    <main class="conteudo">
        <app-cgm></app-cgm>
    </main>
    <main>
     <app-jogos></app-jogos>
    </main>
    <main>
       <app-glossario></app-glossario>
    </main>
    <app-footer></app-footer>
</body>
</html>
