/*.barra-menu{
  background-image: url(../../../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 800px!important;  

}

.home {
  background-image: url(../../../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 800px!important;  
  }
  */
  div{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: white;
    list-style-type: none;
  }
  div.gloss{
      padding-right: 25%;
  }
  div.jogos{
      padding-right: 5%;
  }
  
  a{
    height: auto;
      color: #dbdb23;
  }

