
 <div class="barra-menu">
    <div >

        <a [routerLink]="['/cgm']">COMEÇO</a>
    </div>
    <div>
        <a href="../cgm/cgm.component.html" class="cgm">A CGM</a>
    </div>

    <div class="gloss">
        <a [routerLink]="['../glossario']">GLOSSARIO</a>
    </div>

    <div  class="jogos">
        <a [routerLink]="['/jogos']">JOGOS</a>
    </div>

    <div class="quadrinho">
        <a [routerLink]="['/quadrinhos']">QUADRINHOS</a>
    </div>
    <div>
        <a href="../fiqueligado/" class="fiqueLigado">FIQUE LIGADO</a>
    </div>
    
</div>

