
 <div class="barra-menu">
    <div>
        <a href="../home/" class="comeco">COMEÇO</a>
    </div>
    <div>
        <a href="../cgm/" class="cgm">A CGM</a>
    </div>

    <div class="gloss">
        <a href="../glossario/" class="glossario">GLOSSÁRIO</a>
    </div>

    <div  class="jogos">
        <a href="../jogos/" class="jogos">JOGOS</a>
    </div>

    <div>
        <a href="../quadrinhos/" class="quadrinhos">QUADRINHOS</a>
    </div>
    <div>
        <a href="../fiqueligado/" class="fiqueLigado">FIQUE LIGADO</a>
    </div>

    <div class="img">
        <img src="../../../assets/img/personagens.png"  alt="personagens">
    </div>
</div>