<mat-card class="card-cgm">
    <mat-card-header class="header">
      <mat-card-title>A CGM</mat-card-title>
    </mat-card-header>
    <mat-card-content class="paragrafo">
      <p>
        <img src="../../../assets/img/mae.png" alt="" class="mae">
        A CONTROLADORIA / COMPETÊNCIA
        À Controladoria Geral do Município, órgão do controle interno no âmbito da administração pública municipal, compete zelar pela probidade administrativa apurando irregularidade financeira dos gastos públicos, a fidelidade orçamentárias dos projetos, examinando, no limite de suas atribuições, a legalidade dos atos, contratos e convênios da Administração e exercendo demais atividades correlatas ao serviço de auditoria, inclusive as determinadas pelos órgãos de controle externo, bem como apurar as reclamações relativas à prestação dos serviços públicos da administração pública municipal direta e indireta, inclusive das entidades privadas de qualquer natureza que operem com recursos públicos, na prestação de serviços à população, conforme inciso I do §3° do artigo 37 da Constituição Federal de 1988.
      <br> <br> e sabe onde trabalhamos ?
       <br> no palacio Alencastro, 5 º andar, no centro da capital.
        <br> Fica na praça Alencastro, nº 158, centro.
         <br> CEP 78005-906  Cuiabá/MT
          </p>
    </mat-card-content>
  </mat-card>